html {
  font-size: 16px;
}

body {
  font-family: 'Roboto', sans-serif;
}

h1, h2  {
  font-family: 'Archivo Black', sans-serif;
}

h1 {
  font-size: 4rem;
}

@media only screen and (max-width: 470px) {
  h1 {
    font-size: 2rem;
  }
}


main {
  position: relative;
  top: 3.125rem;
}

/* NOTE: Header */


.navbar-brand.navbar-right.collapse.navbar-collapse {
  width: 3.125rem;
  height: auto;
  padding: 0;
  border-radius: .75rem;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover {
  background-color: inherit;
  color: #399bd1;
  font-weight: bold;
}

#home img {
margin-right: 0.25rem;
}
/* NOTE: Jumbotron */

.jumbotron-fluid {
  padding-top: 10rem;
  height: 30rem;
  background-image: url('../../resources/images/eric-froehling-311483.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-blend-mode: hard-light;
  text-align: center;
  color: white;
}

/* NOTE: Featured Projects */
#projects {
  margin-top: 3rem;
}

#projects .image-container img {
  width: 100%;
  height: auto;
}

/* NOTE: other projects */

#other-projects {
  margin-top: 3rem;
}

/* NOTE: About section */

#about {
  margin-top: 3rem;
}
/* NOTE: Contact Information */

#contact {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  margin: 2rem 0 5rem 2rem;
}

#contact img{
  width: 125px;
  margin-right: 3rem;
  border-radius: 5px;
}

#contact a {
  margin-right: 0.25rem;
}

#contact i {
  color: black;
  margin-right: 1rem;
}

#contact h3 {
  margin-top: 0;
}

@media only screen and (max-width: 470px) {
  #contact {
    margin: 2rem 1rem;
  }

  #contact img{
    margin-right: 1rem;
  }
}

/* NOTE: Footer */

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5rem;
  margin-top: 3rem;
  background-color: #7B8F97;
  color: white;
  padding: 1rem;
  position: relative;
  top: 3rem;
}

footer a {
  padding: 0 1rem;
  color: white;
}

@media only screen and (max-width: 400px) {
  footer {
    font-size: 0.75rem;
  }
  footer a {
    padding: 0 0.25rem;
  }
}
